<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookGPT</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <div class="chat-container">
        <div class="chat-header">
          <button class="sidebarbtn" onclick="toggleSidebar()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-layout-sidebar" viewBox="0 0 16 16">
              <path d="M0 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm5-1v12h9a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1zM4 2H2a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h2z"/>
            </svg>
          </button>
            <h1><a style="text-decoration: none; color: white;" href="/">BookGPT</a></h1>
            <a href="/chatwithpdf" class="chatwithpdfbtn">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4" width="16" height="16">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25M9 16.5v.75m3-3v3M15 12v5.25m-4.5-15H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z" />
              </svg>
            </a>
            <a href="/review" class="review-button">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6" width="16" height="16">
              <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
            </svg>
            </a>
        </div>
        <div class="chat-box-wrapper">
          <div class="chat-box">
            <div class="sidebar" id="sidebar">
              <form action="/newchat" method="post">
                <input type="text" name="chatname" required placeholder="Chat Name" class="sidebarinput">
                <button type="submit" class="createchatbtn">Create Chat</button>
              </form>
              <h3 style="color: white; margin-bottom: 20px;">Recent Chats</h3>
              <ul>
                <% if(locals.chatnames){ %>
                  <% chatnames.forEach( obj=> {%>
                    <li style="display: flex;flex-direction: row;justify-content: space-between;">
                      <form action="/chats" method="get">
                        <input type="hidden" name="chatid" value="<%= obj.id %>">
                        <button type="submit" style="color: white;border: none;background-color:#1a1a1b;cursor: pointer;font-size: 1rem;"><%= obj.chatname %></button>
                      </form>
                      <form action="/deletechat" method="post">
                        <input type="hidden" name="chatid" value="<%= obj.id %>">
                        <button type="submit" style="background-color:#1a1a1b;border: none;justify-content: flex-end;">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                          </svg>
                        </button>
                      </form>
                    </li>
                  <%}); %>
                <% }else{ %>
                  <li style="color: white;">No Chats</li>
                <% } %>
              </ul>
            </div>
            <% if(locals.chatnames){ %>
              <% if(locals.chat){ %>
                <%for (let i = 0; i < chat.length; i++) {%>
                  <div class="chat-message user-message">
                    <% if(locals.chat && chat[i].message){ %>
                      <p><%= chat[i].message %></p>
                    <% } %>
                    <% if (locals.input_img && input_img[i]) { %>
                      <img src="data:image/png;base64,<%=input_img[i]%>">
                    <% } %>
                  </div>
                  <div class="chat-message bot-message">
                    <svg style="margin-right: 1rem;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-book" viewBox="0 0 16 16">
                      <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
                    </svg>
                    <% if(locals.chat && chat[i].response){ %>
                      <p><%= chat[i].response %></p>
                    <% } %>
                    <% if (locals.output_img && output_img[i]) { %>
                      <img src="data:image/png;base64,<%=output_img[i]%>">
                    <% } %>
                    <% if (locals.flowchart && flowchart[i]) { %>
                      <img src="data:image/png;base64,<%=flowchart[i]%>">
                    <% } %>
                    <% if(locals.csv_data && csv_data[i].csv_data){ %>
                      <table border="1">
                        <%
                          const rows = csv_data[i].csv_data.split('\n');
                          rows.forEach((row, rowIndex) => {
                            const cols = row.split(',');
                            if (rowIndex === 0) { %>
                              <thead>
                                <tr>
                                  <% cols.forEach(col => { %>
                                    <th><%= col.trim() %></th>
                                  <% }); %>
                                </tr>
                              </thead>
                            <% } else { %>
                              <tbody>
                                <tr>
                                  <% cols.forEach(col => { %>
                                    <td><%= col.trim() %></td>
                                  <% }); %>
                                </tr>
                              </tbody>
                            <% }
                          });
                        %>
                      </table>
                    <% } %>
                  </div>
                <%}; %>
              <% }else{ %>
                <div class="nochat">
                  <p style="color: white;text-align: center;font-size: 2rem;font-weight:600;">Start Chatting with BookGPT</p>
                </div>
              <% } %>
            <% }else{ %>
              <div class="error">
                <p style="color: white;font-size: 2rem;margin-bottom: 20px;">Start a new conversation!</p>
                <p style="color: white;font-size: 2rem;margin-bottom: 20px;">Create New Chat in the Side Bar
                </p>
              </div>
            <% } %>
          </div>
          <div class="chat-input">
            <form class="chat-input" action="/chat" method="post" id="inputsumbitform" enctype="multipart/form-data">
              <div class="menu-container">
                <div class="three-dots-menu" id="three-dots-menu">
                  &#x22EE;
                </div>
                <div class="sliders" id="sliders" style="display: none;">
                  <label class="enable-images">Include response with:</label>
                  <div class="slider_container">
                    <input type="checkbox" id="enable-images" name="enable-images" />
                    <label for="enable-images">Images</label>
                  </div>
                  <div class="slider_container">
                    <input type="checkbox" id="enable-flowchart" name="enable-flowchart" />
                    <label for="enable-flowchart">Flowchart</label>
                  </div>
                  <div class="slider_container">
                    <input type="checkbox" id="enable-table" name="enable-table" />
                    <label for="enable-table">Table</label>
                  </div>
                </div>
              </div>

              <input type="file" id="imgFileInput" name="imgfile" accept="image/*" style="display: none;">
              <button type="button" class="uploadbtn" style="margin-top: 0;" onclick="triggerFileInput()">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-file-earmark-image" viewBox="0 0 16 16">
                  <path d="M6.502 7a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
                  <path d="M14 14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zM4 1a1 1 0 0 0-1 1v10l2.224-2.224a.5.5 0 0 1 .61-.075L8 11l2.157-3.02a.5.5 0 0 1 .76-.063L13 10V4.5h-2A1.5 1.5 0 0 1 9.5 3V1z"/>
                </svg>
              </button>
              <input type="text" id="userInput" name="message" placeholder="Message BookGPT.." />
              <button class="sendbutton" id="micbtn" onclick="startSpeechRecognition()">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-mic-fill" viewBox="0 0 16 16">
                  <path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0z"/>
                  <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5"/>
                </svg>
              </button>
              <button id="sendButton" class="sendbutton" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
                  <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471z"/>
                </svg>
              </button>
              <div id="loadingSpinner" class="loading-spinner"></div>
            </form>
          </div>
        </div>
    </div>

    <script>
      let input = document.querySelector("#inputsumbitform input");
      let send = document.querySelector("#inputsubmitform");
      let loadingSpinner = document.getElementById("loadingSpinner");
      let sendbutton = document.querySelector("#sendButton");
      let imgbtn = document.querySelector(".uploadbtn");

      window.onload = function() {
        const chatBox = document.querySelector('.chat-box');
        chatBox.scroll({
          top: chatBox.scrollHeight,
          behavior: 'smooth'
        });
      };

      sendbutton.addEventListener("click",()=>{
        showLoadingSpinner();
      })

      input.addEventListener("keydown",(e)=>{
        if(e.key == 'Enter'){
          showLoadingSpinner();
          send.submit();
        }
      })
      function triggerFileInput() {
        const fileInput = document.getElementById('imgFileInput');
        fileInput.click();
      }
      function showLoadingSpinner() {
        sendbutton.style.display = "none";
        loadingSpinner.style.display = "block";
        send.querySelector("button").disabled = true;
      }
      function hideLoadingSpinner() {
        loadingSpinner.style.display = "none";
        send.querySelector("button").disabled = false;
      }
      window.addEventListener('load', () => {
        hideLoadingSpinner();
      });

      function toggleSidebar() {
      const sidebar = document.getElementById('sidebar');
      sidebar.classList.toggle('open');
      }

      const threeDotsMenu = document.getElementById('three-dots-menu');
      const sliders = document.getElementById('sliders');

      threeDotsMenu.addEventListener('click', function() {
        if (sliders.style.display === 'none') {
          sliders.style.display = 'flex';
        } else {
          sliders.style.display = 'none';
        }
      });

      function startSpeechRecognition() {
        if (!('webkitSpeechRecognition' in window)) {
          alert('Your browser does not support speech recognition. Please use a supported browser.');
          return;
        }
        const recognition = new webkitSpeechRecognition();
        recognition.lang = 'en-US';
        recognition.interimResults = false;
        recognition.start();
        recognition.onresult = function(event) {
          const transcript = event.results[0][0].transcript;
          document.getElementById('userInput').value = transcript;
        };
        recognition.onend = function() {
          console.log('Speech recognition ended.');
        };
        recognition.onerror = function(event) {
          console.error('Speech recognition error:', event.error);
        };
      }

    </script>
</body>
</html>
